/*---------------------
  Categories
-----------------------*/
.categories {
	overflow: hidden;
	margin-top: 10px;
}

.categories .container-fluid {
	padding-right: 5px;
}

.categoriesItem {
	height: 314px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 30px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.categoriesItem.categoriesLargeItem {
	height: 638px;
	padding-left: 70px;
}

.categoriesItem.categoriesLargeItem .categoriesText {
	max-width: 480px;
}

.categoriesItem.categoriesLargeItem .categoriesText p {
	margin-bottom: 15px;
}

.categoriesText h1 {
	font-family: "Cookie", cursive;
	color: #111111;
	margin-bottom: 5px;
}

.categoriesText h4 {
	color: #111111;
	font-weight: 700;
}

.categoriesText p {
	margin-bottom: 10px;
}

.categoriesText a {
	font-size: 14px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	padding: 0 0 3px;
	display: inline-block;
}
.categoriesText .coverPage {
	color: #F5F5F5;
}
.categoriesText a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
}

/*---------------------
  Banner
-----------------------*/

.banner {
	height: 500px;
}

.bannerJap {
	text-align: center;
	padding: 150px 0 0;
}
.bannerText {
	width: 70%;
}
.bannerText span {
	top: 90px;
	left: 110px;
	font-size: 12px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	padding: 0 0 3px;
	display: inline-block;
}



/*---------------------
  Discount
-----------------------*/
.discount {
	margin-top: 90px;
}

.discountPic {
	min-width: 100%;
	height: 100%;
}

.discountText {
	background: #F5F5F5;
	height: 390px;
	padding: 75px 90px 50px;
	text-align: center;
}

.discountText a {
	font-size: 14px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	padding: 0 0 3px;
	display: inline-block;
}

.discountText a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
}

.discountTextTitle {
	text-align: center;
	position: relative;
	z-index: 1;
	margin-bottom: 60px;
}

.discountTextTitle:after {
	position: absolute;
	left: 50%;
	top: -38px;
	height: 183px;
	width: 183px;
	background: #ffffff;
	content: "";
	border-radius: 50%;
	z-index: -1;
	margin-left: -91.5px;
}

.discountTextTitle span {
	font-size: 12px;
	color: #111111;
	font-weight: 500;
	text-transform: uppercase;
}

.discountTextTitle h2 {
	font-size: 60px;
	color: #ca1515;
	font-family: "Cookie", cursive;
	line-height: 46px;
	margin-bottom: 10px;
}

.discountTextTitle h5 {
	color: #ca1515;
	font-weight: 700;
}

.discountTextTitle h5 span {
	font-size: 14px;
	color: #111111;
	margin-right: 4px;
}

.discountCountdown {
	text-align: center;
	margin-bottom: 10px;
}

.countdownItem {
	margin-bottom: 15px;
	float: left;
	width: 25%;
}

.countdownItem:last-child {
	margin-right: 0;
}

.countdownItem span {
	font-size: 30px;
	font-weight: 600;
	color: #111111;
	display: inline-block;
}

.countdownItem p {
	color: #111111;
	margin-bottom: 0;
	display: inline-block;
	font-weight: 500;
}

/*---------------------
  Services
-----------------------*/

.services {
	padding-top: 80px;
	padding-bottom: 50px;
}

.servicesItem {
	padding-left: 65px;
	position: relative;
	margin-bottom: 20px;
}

.servicesItem i {
	font-size: 36px;
	color: #ca1515;
	position: absolute;
	left: 0;
	top: 4px;
}

.servicesItem h6 {
	color: #111111;
	font-weight: 600;
	margin-bottom: 5px;
}

.servicesItem p {
	margin-bottom: 0;
}

