/*--------------------------------------
  Template default CSS
----------------------------------------*/

html, body{
  background: #F5F5F5;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0;
  color: #111111;
  font-weight: 100;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	color: #666666;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper For CSS
-----------------------*/
.sectionTitle {
	margin-bottom: 45px;
}

.sectionTitle h4 {
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
}

.sectionTitle h4:after {
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 70px;
	background: #ca1515;
	content: "";
}

.setBg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}
.primary-btn {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 12px 30px 10px;
	color: #ffffff;
	background: #ca1515;
}
.site-btn {
	font-size: 14px;
	color: #ffffff;
	background: #ca1515;
	font-weight: 600;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
	border-radius: 50px;
}


/*---------------------  
  SPINNER SACAR
-----------------------*/
#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*---------------------  
  PRELOAD
-----------------------*/
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #ffffff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}


/*---------------------
  HEADER  
-----------------------*/
.header {
	background: #ffffff;
	-webkit-box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
	box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
	height: 84px;
}

.headerLogo {
	padding: 30px 0 26px;
	height: 84px;
}

.headerLogo a {
	display: inline-block;
}

.headerMenu {
	padding: 30px 0 27px;
	height: 84px;
}

.headerMenu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	position: relative;
}

.headerMenu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.headerMenu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.headerMenu ul li:hover .dropdown {
	top: 27px;
	opacity: 1;
	visibility: visible;
}

.headerMenu ul li:last-child {
	margin-right: 0;
}

.headerMenu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 2px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.headerMenu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.headerMenu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 8px 20px;
	text-transform: capitalize;
}

.headerMenu ul li .dropdown li a:after {
	display: none;
}

.headerMenu ul li a {
	font-size: 15px;
	text-transform: uppercase;
	color: #111111;
	font-weight: 500;
	display: block;
	padding: 2px 0;
	position: relative;
}

.headerMenu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #ca1515;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

/*---------------------
  HEADER RIGHT
-----------------------*/

.headerRight {
	text-align: right;
	padding: 30px 0 27px;
}

.headerRightAuth {
	display: inline-block;
	margin-right: 25px;
}

.headerRightAuth ul li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.headerRightAuth ul li:hover .dropdown {
	top: 27px;
	height: auto;
	opacity: 1;
	visibility: visible;
}

.headerRightAuth ul li:last-child {
	margin-right: 0;
}

.headerRightAuth ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 160px;
	background: rgba(0,0,0,.7);
	text-align: left;
	padding: 8px 0;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.headerRightAuth ul li .dropdown li {
	display: block;
	margin: 6px 0;
	margin-right: 0;
}

.headerRightAuth ul li .dropdown li a {
	font-size: 15px;
	color: #ffffff;
	font-weight: 400;
	padding: 8px 20px;
	text-transform: capitalize;
}

.headerRightAuth ul li .dropdown li a:after {
	display: none;
}
.headerRightAuth a {
	font-size: 12px;
	color: #666666;
	position: relative;
}

.headerRightAuth a:last-child {
	margin-right: 0;
}

.headerRightAuth a:last-child:after {
	display: none;
}

.headerRightAuth a:after {
	position: absolute;
	right: -8px;
	top: -2px;
	font-size: 13px;
}

.headerRightAuth li a .tip {
	position: absolute;
	right: -12px;
	top: 7px;
	height: 18px;
	width: 18px;
	background: #ffffff;
	font-size: 10px;
	font-weight: 500;
	color: #111111;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
}

/*---------------------
  HEADER RIGHT WIDGET
-----------------------*/
.headerRightWidget {
	display: inline-block;
}

.headerRightWidget li {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	color: #111111;
	margin-right: 30px;
	cursor: pointer;
}

.headerRightWidget li:last-child {
	margin-right: 0;
}

.headerRightWidget li a {
	font-size: 18px;
	color: #111111;
	position: relative;
}

.headerRightWidget li a .tip {
	position: absolute;
	right: -12px;
	top: -11px;
	height: 18px;
	width: 18px;
	background: #111111;
	font-size: 10px;
	font-weight: 500;
	color: #ffffff;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
}

/*---------------------
  OPEN CANVAS
-----------------------*/
.offcanvasMenuWrapper {
	display: none;
}
.canvasOpen {
	display: none;
}

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumbOption {
	padding-top: 35px;
}

.breadcrumbLinks a {
	font-size: 15px;
	font-weight: 500;
	color: #111111;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}



.breadcrumbLinks a i {
	margin-right: 5px;
}

.breadcrumbLinks span {
	font-size: 15px;
	font-weight: 500;
	color: #888888;
	display: inline-block;
}

/*---------------------
  Product
-----------------------*/
.product {
	padding-top: 60px;
	padding-bottom: 50px;
}

.filterControls {
	text-align: right;
	margin-bottom: 50px;
}

.filterControls li {
	font-size: 14px;
	list-style: none;
	display: inline-block;
	color: #111111;
	margin-right: 35px;
	position: relative;
	cursor: pointer;
}

.filterControls li.active:after {
	opacity: 1;
}

.filterControls li:after {
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
	opacity: 0;
}

.filterControls li:last-child {
	margin-right: 0;
}

.productItem {
	margin-bottom: 35px;
}

.productItem:hover .productHover li {
	opacity: 1;
	top: 0;
}

.productItem.sale .productItemPic .label {
	background: #ca1515;
}

.productItem.sale .productItemText .productPrice {
	color: #ca1515;
}

.productItemPic {
	height: 360px;
	position: relative;
	overflow: hidden;
}

.productItemPic .label {
	font-size: 12px;
	color: #ffffff;
	font-weight: 500;
	display: inline-block;
	padding: 2px 8px;
	text-transform: uppercase;
	position: absolute;
	left: 10px;
	top: 10px;
}

.productItemPic .label.new {
	background: #36a300;
}

.productItemPic .label.stockout {
	background: #111111;
}

.productItemPic .label.stockblue {
	background: #0066bd !important;
}

.productItemPic .label.sale {
	background: #ca1515;
}

.productHover {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 30px;
	text-align: center;
}

.productHover li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 100px;
	opacity: 0;
}

.productHover li:nth-child(1) {
	-webkit-transition: all 0.4s ease 0.1s;
	-o-transition: all 0.4s ease 0.1s;
	transition: all 0.4s ease 0.1s;
}

.productHover li:nth-child(2) {
	-webkit-transition: all 0.4s ease 0.15s;
	-o-transition: all 0.4s ease 0.15s;
	transition: all 0.4s ease 0.15s;
}

.productHover li:nth-child(3) {
	-webkit-transition: all 0.4s ease 0.2s;
	-o-transition: all 0.4s ease 0.2s;
	transition: all 0.4s ease 0.2s;
}

.productHover li:last-child {
	margin-right: 0;
}

.productHover li:hover a {
	background: #ca1515;
}

.productHover li:hover a span {
	color: #ffffff;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.productHover li a {
	font-size: 18px;
	color: #111111;
	display: block;
	height: 45px;
	width: 45px;
	background: #ffffff;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.productHover li a span {
	position: relative;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	display: inline-block;
}

.productItemText {
	text-align: center;
	padding-top: 22px;
}

.productItemText h6 a {
	font-size: 14px;
	color: #111111;
}

.productItemText .rating {
	line-height: 18px;
	margin-bottom: 5px;
}

.productItemText .rating i {
	font-size: 10px;
	color: #e3c01c;
	margin-right: -4px;
}

.productItemText .rating i:last-child {
	margin-right: 0;
}

.productItemText .productPrice {
	color: #111111;
	font-weight: 600;
}

.productItemText .productPrice span {
	font-size: 14px;
	color: #b1b0b0;
	text-decoration: line-through;
	margin-left: 4px;
}

/*---------------------
  Instagram
-----------------------*/

.instagramItem {
	height: 320px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.instagramItem:hover:after {
	opacity: 1;
}

.instagramItem:hover .instagramText {
	opacity: 1;
	visibility: visible;
}

.instagramItem:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	content: "";
	opacity: 0;
	z-index: -1;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.instagramText {
	text-align: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.instagramText i {
	font-size: 30px;
	color: #0d0d0d;
}

.instagramText a {
	font-size: 16px;
	color: #0d0d0d;
	font-weight: 500;
	display: block;
	margin-top: 10px;
}

/*---------------------
  Footer
-----------------------*/

.footer {
	padding-top: 55px;
}

.footerAbout {
	margin-bottom: 30px;
}

.footerAbout p {
	margin-bottom: 20px;
}

.footerLogo {
	margin-bottom: 20px;
}

.footerPayment a {
	margin-right: 6px;
	margin-bottom: 10px;
	display: inline-block;
}

.footerPayment a:last-child {
	margin-right: 0;
}

.footerWidget {
	margin-bottom: 30px;
}

.footerWidget h6 {
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.footerWidget ul li {
	list-style: none;
}

.footerWidget ul li a {
	font-size: 14px;
	color: #666666;
	line-height: 30px;
}

.footerNewsLatter {
	margin-bottom: 30px;
}

.footerNewsLatter h6 {
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.footerNewsLatter form {
	position: relative;
	margin-bottom: 30px;
}

.footerNewsLatter form input {
	height: 52px;
	width: 100%;
	border: 1px solid #e1e1e1;
	border-radius: 50px;
	padding-left: 30px;
	font-size: 14px;
	color: #666666;
}

.footerNewsLatter form input::-webkit-input-placeholder {
	color: #666666;
}

.footerNewsLatter form input::-moz-placeholder {
	color: #666666;
}

.footerNewsLatter form input:-ms-input-placeholder {
	color: #666666;
}

.footerNewsLatter form input::-ms-input-placeholder {
	color: #666666;
}

.footerNewsLatter form input::placeholder {
	color: #666666;
}

.footerNewsLatter form button {
	position: absolute;
	right: 4px;
	top: 4px;
}

.footerSocial a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #e1e1e1;
	font-size: 15px;
	color: #111111;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin-right: 6px;
	margin-bottom: 5px;
}

.footerSocial a:last-child {
	margin-right: 0;
}

.footerCopyrightText {
	border-top: 1px solid #e1e1e1;
	padding: 18px 0 25px;
	text-align: center;
	margin-top: 35px;
}

.footerCopyrightText p {
	margin-bottom: 0;
}

.footerCopyrightText a {
	color: #5C5C5C;
}

.footerCopyrightText i {
	color: #ca1515;
}

.footerCopyrightText a:hover {
	color: #ca1515;
}

/*---------------------
  OP WIDTH PIXEL
-----------------------*/
/*---------------------
  		1600
-----------------------*/
@media only screen and (min-width: 1600px) and (max-width: 1900px) {
	.header {
		padding: 0 85px;
	}
}

/*---------------------
  		1200
-----------------------*/
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
	.headerMenu ul li {
		margin-right: 20px;
	}
	.header {
		padding: 0 30px;
	}
}

/*---------------------
		1200
-----------------------*/
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/*---------------------
		1026
-----------------------*/
@media only screen and (min-width: 1026px) and (max-width: 1199px) {
	.headerMenu ul li {
		margin-right: 20px;
	}
	.headerRightAuth {
		margin-right: 5px;
	}
	.nav::before {
		width: 240px;
	}
	.nav::after {
		width: 240px;
	}
}

/*---------------------
		768
-----------------------*/
@media only screen and (min-width: 768px) and (max-width: 1025px) {
	.nav::before {
		width: 125px;
	}
	.nav::after {
		width: 125px;
	}
	.canvasOpen {
		display: block;
		font-size: 22px;
		color: #222;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #323232;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 24px;
	}
	.offcanvasMenuOverlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvasMenuOverlay.active {
		visibility: visible;
	}
	.offcanvasMenuWrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #ffffff;
		padding: 90px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvasMenuWrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvasClose {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 30px;
		top: 25px;
		border: 1px solid #ddd;
		border-radius: 50%;
		font-size: 26px;
		text-align: center;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		cursor: pointer;
	}
	.offcanvasMenu {
		display: none;
	}
	.offcanvasLogo {
		margin-bottom: 25px;
	}
	.offcanvasWidget {
		text-align: center;
		margin-bottom: 20px;
	}
	.offcanvasWidget li {
		list-style: none;
		display: inline-block;
		font-size: 18px;
		color: #111111;
		margin-right: 20px;
		cursor: pointer;
	}
	.offcanvasWidget li:last-child {
		margin-right: 0;
	}
	.offcanvasWidget li a {
		font-size: 18px;
		color: #111111;
		position: relative;
	}
	.offcanvasWidget li a .tip {
		position: absolute;
		right: -12px;
		top: -11px;
		height: 18px;
		width: 18px;
		background: #111111;
		font-size: 10px;
		font-weight: 500;
		color: #ffffff;
		line-height: 18px;
		text-align: center;
		border-radius: 50%;
	}
	.offcanvasUser a {
		font-size: 15px;
		color: #111111;
		position: relative;
		margin-right: 8px;
		font-weight: 500;
	}
	.offcanvasUser a:last-child {
		margin-right: 0;
	}
	.offcanvasUser a:last-child:after {
		display: none;
	}
	.offcanvasUser a:after {
		position: absolute;
		right: -8px;
		top: -2px;
		content: "/";
		font-size: 13px;
	}
	.headerMenu {
		display: none;
	}
	.headerRight {
		display: none;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 20px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.dropdown li a {
		padding-left: 14px;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav {
		display: block !important;
	}
}

/*---------------------
		480
-----------------------*/
@media only screen and (max-width: 767px) {
	.nav::before {
		display: none;
	}
	.nav::after {
		display: none;
	}
	.canvasOpen {
		display: block;
		font-size: 22px;
		color: #222;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #323232;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 24px;
	}
	.offcanvasMenuOverlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvasMenuOverlay.active {
		visibility: visible;
	}
	.offcanvasMenuWrapper {
		position: fixed;
		left: -270px;
		width: 270px;
		height: 100%;
		background: #ffffff;
		padding: 90px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvasMenuWrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvasClose {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 30px;
		top: 25px;
		border: 1px solid #ddd;
		border-radius: 50%;
		font-size: 26px;
		text-align: center;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		cursor: pointer;
	}
	.offcanvasMenu {
		display: none;
	}
	.offcanvasLogo {
		margin-bottom: 25px;
	}
	.offcanvasWidget {
		text-align: center;
		margin-bottom: 20px;
	}
	.offcanvasWidget li {
		list-style: none;
		display: inline-block;
		font-size: 18px;
		color: #111111;
		margin-right: 20px;
		cursor: pointer;
	}
	.offcanvasWidget li:last-child {
		margin-right: 0;
	}
	.offcanvasWidget li a {
		font-size: 18px;
		color: #111111;
		position: relative;
	}
	.offcanvasWidget li a .tip {
		position: absolute;
		right: -12px;
		top: -11px;
		height: 18px;
		width: 18px;
		background: #111111;
		font-size: 10px;
		font-weight: 500;
		color: #ffffff;
		line-height: 18px;
		text-align: center;
		border-radius: 50%;
	}
	.offcanvasUser a {
		font-size: 15px;
		color: #111111;
		position: relative;
		margin-right: 8px;
		font-weight: 500;
	}
	.offcanvasUser a:last-child {
		margin-right: 0;
	}
	.offcanvasUser a:last-child:after {
		display: none;
	}
	.offcanvasUser a:after {
		position: absolute;
		right: -8px;
		top: -2px;
		content: "/";
		font-size: 13px;
	}
	.headerMenu {
		display: none;
	}
	.headerRight {
		display: none;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 20px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.dropdown li a {
		padding-left: 14px;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav {
		display: block !important;
	}
	.contactContent {
		margin-bottom: 40px;
	}
}


/*	---------------------------PRUEBA-------------------------------				*/
